.container {
  background-color: orange;
  height: 200px;
  padding-top: 30px;
  padding-left: 30px;
  width: 200px;
}
.item {
  background-color: blueviolet;
  height: 70px;
  min-width: 300px;
  margin-bottom: 30px;
  padding-top: 30px;
  border: 3px solid rebeccapurple;
  border-radius: 15px;
  box-shadow: 10px 10px 15PX rgba(0,0,0,0.5);
}